<% @posts.each do |post| %>
<div class="post_box">
    
    <div class="post_body">
        <div class="post_header">
                <%= render partial: 'shared/header', locals: {post: post} %>
        </div>
        
        <div class="post">
                <%= render partial: 'shared/post', locals: {post: post} %>
        </div>
        
        <span id="likes_container_<%= post.id %>">
                <%#= The id of this span will change depending on the id of the post. For eg, if the post.id is 1, then the span is will be likes_container_1. %>
                <%= render partial: 'shared/likes', locals: {post: post} %>
                <%#= Notice how we added locals: {post: post}. locals in partial are just variables that you can use within your partial. You can assign the variable a value. In this case are assisgning the post variable to the value of the post( post comes from the loop inside index.html.erb). Then, we can use the post varible inside of the partial. %>
        </span>
        <div class="post_comments">
                <%= render partial: 'shared/comment', locals: {post: post} %>
        </div>
        
    </div>
</div>

<% end %>